APScheduler==3.11.0
caldav==2.0.1
Flask==3.1.1
icalendar==6.3.1
line-bot-sdk==3.17.1
pytz==2025.2
requests==2.32.4
google-api-python-client==2.174.0
google-auth==2.40.3
google-auth-oauthlib==1.2.2
google-auth-httplib2==0.2.0
pygsheets==2.0.6
pandas==2.3.0
numpy==2.3.1
python-dateutil==2.9.0.post0